[submodule "app/scripts/vendor/cubejs"]
	path = app/scripts/vendor/cubejs
	url = https://github.com/akheron/cubejs.git
[submodule "app/scripts/vendor/aframe-text-component"]
	path = app/scripts/vendor/aframe-text-component
	url = https://github.com/ngokevin/aframe-text-component.git
